<div class="container main">
    <div class="">
        <ul ng-repeat="user in model.users" class="list-unstyled">
            <li>
                <div class="panel panel-default">
                    <div class="panel panel-body">
                        <div class="col-md-6"><img ng-src="../project/client/images/userimage.jpg"
                                                   title="{{sandeep}}">
                        </div>
                        <div class="col-md-6 approveUsersList">
                            <dl class="dl-horizontal">
                                <dt>Name</dt>
                                <dd><a href="#/profile/{{user._id}}">{{user.firstName}}</a></dd>
                                <dt>BirthDate</dt>
                                <dd>{{user.birthdate | date:'medium'}}</dd>
                                <dt>Driving License#</dt>
                                <dd>{{user.licenseNumber}}</dd>
                                <dt>Email</dt>
                                <dd>{{user.email}}</dd>
                                <dt>Country Issued</dt>
                                <dd>{{user.licenseCountry}}</dd>
                                <dt>Status</dt>
                                <dd>{{user.status}}</dd>
                            </dl>
                        </div>
                        <button ng-click="model.approve(user)" class="btn btn-success"
                                ng-show="user.status.indexOf('Waiting') >= 0"
                                title="Approve">Approve
                        </button>
                        <label ng-show="user.approved">Approved</label>
                        <button ng-click="model.decline(user)" class="btn btn-danger"
                                ng-show="user.status.indexOf('Declined') == -1"
                                title="Decline">Decline
                        </button>
                        <label ng-show="user.declined">Declined</label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>