<div class="container">
    <div ng-if="model.success" class="alert alert-success" role="alert">
        <strong>{{model.success}}</strong>
    </div>
    <div ng-if="model.error" class="alert alert-success" role="alert">
        <strong>{{model.error}}</strong>
    </div>
    <form name="forgotForm" novalidate>
        <div class="form-group"
             ng-class="{ 'has-error': forgotForm.email.$error.required && submitted}">
            <input ng-model="email" type="text" name="email"
                   class="form-control"
                   placeholder="Email" autocorrect="off" autocapitalize="off" required/>
            <span class="redText" ng-show="loginForm.username.$error.required && submitted">
                Email is required
            </span>
        </div>

        <a ng-click="model.forgot(email);submitted=true" type="button" class="btn btn-link btn-success">Send Password To Email</a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#/search" class="icon-block">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </p>
    </div>
</nav>

