<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                New Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createWebsite(name, description);submitted=true" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
    </div>
</nav>

<div class="container">
    <form name="newWebsite">
        <div class="form-group" ng-class="{ 'has-error': newWebsite.name.$error.required && submitted}">
            <label for="Name">Name</label>
            <input ng-model="name" type="text"
                   class="form-control"
                   name = "name"
                   id="Name"
                   value="Name"
                   placeholder="Name" required/>
            <span class="redText" ng-show="newWebsite.name.$error.required && submitted">
                Website Name is required
            </span>
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
                <textarea ng-model="description" rows="4"
                          id="Description"
                          class="form-control"
                          placeholder="Description">Description</textarea>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>

