<div class="wrapper">
    <!-- Row for short recipe details and headline image -->
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <span>
                <h1>
                        <a class="btn btn-primary" role="button" ng-click="model.likePets(pet)" ng-show="currentUser ==null || currentUser.favorites.indexOf(pet.id) == -1">
                            <span class="fa fa-star" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-warning" role="button" ng-click="model.unlikePets(pet)" ng-show="currentUser != null && currentUser.favorites.indexOf(pet.id) != -1">
                            <span class="fa fa-star-o" aria-hidden="true"></span>
                        </a>
                {{model.pet.name}}
                </h1>
            <!-- display total time, course, cuisine, and yeild -->
            <div class="row details">
                <h4> Details </h4>
            </div>
        </div>

        <div ng-repeat="petimage in model.pet.image">
            <img class="img-responsive" ng-src="{{petimage}}" />
        </div>
    </div>
    <br>
    <hr>

</div>
