<div class="container">
    <form>
        <div class="form-group">
            <label for="youtubeName">Name</label>
            <input ng-model="model.widget.name"
                   id="youtubeName"
                   type="text"
                   class="form-control"
                   placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" id="text"
                   type="text"
                   class="form-control"
                   placeholder="text "/>
        </div>

        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" id="url"
                   type="text"
                   class="form-control"
                   placeholder="www.youtube.com/asdE84"/>
        </div>

        <div class="form-group">
            <label for="youtubeWidth">Width</label>
            <input ng-model="model.widget.width" id="youtubeWidth"
                   type="text"
                   class="form-control"
                   placeholder="100%"/>
        </div>
    </form>
</div>
