<div class="container">
    <form name="headerForm">
        <div class="form-group" ng-class="{ 'has-error': headerForm.name.$error.required && submitted}">
            <label for="headerName">Name</label>
            <input ng-model="model.widget.name" id="headerName" name="name" required
                   type="text" class="form-control" placeholder="Header"/>
            <span class="redText" ng-show="headerForm.name.$error.required && submitted">
                Widget Name is required
            </span>
        </div>
        <div class="form-group">
            <label for="headerText">Text</label>
            <input ng-model="model.widget.text" id="headerText"
                   type="text" class="form-control" placeholder="Header Text"/>
        </div>
        <div class="form-group">
            <label for="headerSize">size</label>
            <select ng-model="model.widget.size" class="form-control" id="headerSize">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
    </form>
</div>
