<div class="container">
    <form name="imageForm" action="/api/upload"  method="post" enctype="multipart/form-data">
        <div class="form-group" ng-class="{ 'has-error': imageForm.name.$error.required && submitted}">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" id="name"
                   type="text" name = "name" required
                   class="form-control"
                   placeholder="My Widget Name"/>
            <span class="redText" ng-show="imageForm.name.$error.required && submitted">
                Widget Name is required
            </span>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" id="text"
                   type="text"
                   class="form-control"
                   placeholder="My Widget Text"/>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" id="url"
                   type="text"
                   class="form-control"
                   placeholder="www.google.com/adjsfjd821312.jpg"/>
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" id="width"
                   type="text"
                   class="form-control"
                   placeholder="100%"/>
        </div>

        <div class="form-group">
                <label for="widget-upload">Upload Image</label>
                <input  name="myFile" id="widget-upload"   type="file" class="form-control"/>
                <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
                <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
                <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
                <input name="userId" value="{{model.userId}}" style="display: none"/>
                <input name="pageId" value="{{model.pageId}}" style="display: none"/>
                <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
        </div>

        <a class="btn btn-block btn-info"
           href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr">
            Search Images in Flickr
        </a>
    </form>
</div>