<div class="container">
    <form name="textForm">
        <div class="form-group" ng-class="{ 'has-error': textForm.name.$error.required && submitted}">
            <label for="textName">Name</label>
            <input ng-model="model.widget.name"
                   id="textName"
                   type="text" name="name" required
                   class="form-control"
                   placeholder="Name"/>
            <span class="redText" ng-show="textForm.name.$error.required && submitted">
                Widget Name is required
            </span>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" id="text"
                   type="text"
                   class="form-control"
                   placeholder="text "/>
        </div>

        <div class="form-group">
            <label for="rows">Rows</label>
            <input ng-model="model.widget.rows" id="rows"
                   type="number"
                   class="form-control"
                   placeholder="1"/>
        </div>

        <div class="form-group">
            <label for="placeholder">Placeholder</label>
            <input ng-model="model.widget.placeholder" id="placeholder"
                   type="text"
                   class="form-control"
                   placeholder="My Placeholder">
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <input ng-model="model.widget.formatted" type="checkbox" aria-label="Checkbox for following text input">
                </span>
                <input type="text" class="form-control" aria-label="Text input with checkbox" value="FORMATTED" readonly>
            </div>
        </div>
    </form>
</div>

